<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    backupGlobals="false"
    backupStaticAttributes="false"
    beStrictAboutOutputDuringTests="false"
    convertWarningsToExceptions="true"
    convertNoticesToExceptions="true"
    convertDeprecationsToExceptions="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="VOID_TEST_MODE" value="1"/>
    </php>
    <coverage processUncoveredFiles="false">
        <include>
            <directory>controller</directory>
            <directory>model</directory>
            <directory>inc</directory>
            <directory>admin</directory>
            <directory>view</directory>
        </include>
    </coverage>
</phpunit>